{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "MAC Address" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "MAC Address" %}</th>
            <td>
              <span id="macaddress_{{ object.pk }}">{{ object.mac_address|placeholder }}</span>
              {% copy_content object.pk prefix="macaddress_" %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Assignment" %}</th>
            <td>
              {% if object.assigned_object %}
                {{ object.assigned_object.parent_object|linkify }} /
                {{ object.assigned_object|linkify }}
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Primary for interface" %}</th>
            <td>{% checkmark object.is_primary %}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
