{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'circuits:virtualcircuit_list' %}?provider_id={{ object.provider.pk }}">{{ object.provider }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'circuits:virtualcircuit_list' %}?provider_network_id={{ object.provider_network.pk }}">{{ object.provider_network }}</a>
  </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "Virtual circuit" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Provider" %}</th>
            <td>{{ object.provider|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Provider Network" %}</th>
            <td>{{ object.provider_network|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Provider account" %}</th>
            <td>{{ object.provider_account|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Circuit ID" %}</th>
            <td>{{ object.cid }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ object.type|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Tenant" %}</th>
            <td>
              {% if object.tenant.group %}
                {{ object.tenant.group|linkify }} /
              {% endif %}
              {{ object.tenant|linkify|placeholder }}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/comments.html' %}
      <div class="card">
        <h2 class="card-header">
          {% trans "Group Assignments" %}
          {% if perms.circuits.add_circuitgroupassignment %}
            <div class="card-actions">
              <a href="{% url 'circuits:circuitgroupassignment_add' %}?member_type={{ object|content_type_id }}&member={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Assign Group" %}
              </a>
            </div>
          {% endif %}
        </h2>
        {% htmx_table 'circuits:circuitgroupassignment_list' virtual_circuit_id=object.pk %}
      </div>
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <div class="card">
        <h2 class="card-header">
          {% trans "Terminations" %}
          {% if perms.circuits.add_virtualcircuittermination %}
            <div class="card-actions">
              <a href="{% url 'circuits:virtualcircuittermination_add' %}?virtual_circuit={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Add Termination" %}
              </a>
            </div>
          {% endif %}
        </h2>
        {% htmx_table 'circuits:virtualcircuittermination_list' virtual_circuit_id=object.pk %}
      </div>
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
